

* {
    background-color: rgb(90, 19, 19);
}

/* Nav Bar */
.navbar {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
}

.navbar .logo .git {
    height: 50px;
}