* {
    background-color: rgb(66, 47, 47);
}

/* Nav Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style-type: none;
    font-weight: 500;
    color: white;
}

.nav-item a {
    color: white;
}

.navbar .logo .git {
    height: 50px;
}